/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: #333;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
}

nav ul li a:hover {
    background-color: #4CAF50;
    border-radius: 5px;
}

main {
    padding: 1em;
    max-width: 800px;
    margin: auto;
}

section {
    margin-bottom: 1.5em;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
}
